[Desktop Entry]
Version=1.0
Type=Application
StartupNotify=false
Exec=
Name=eve-w-preview
Icon=EveWPreview
Comment=Wayland eve-online preview software
Categories=
MimeType=
